<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @candidate.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @candidate.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @candidate.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @candidate.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @candidate.phone %>
</p>

<p>
  <b>Street address:</b>
  <%= @candidate.street_address %>
</p>

<p>
  <b>City:</b>
  <%= @candidate.city %>
</p>

<p>
  <b>State:</b>
  <%= @candidate.state %>
</p>

<p>
  <b>Resume:</b>
  <%= @candidate.resume %>
</p>


<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
